body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.galeria {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.galeria img {
    width: 20%;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.galeria img:hover {
    border-color: #333;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

.albuns_link a{
    text-decoration: none;
    color: var(--branco-principal);
}

.albuns_link a:hover{
    color: #167BF7;
}